{% extends "base.html" %}
{% block extraCss %}
{% endblock %}
{% block main %}
{% load static %}
<div id="main-content" class="profilepage_2 blog-page">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row g-3">
        <div class="col-lg-5 col-md-8 col-sm-12">
          <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>
            {{ titulo }}</h2>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{ index }}"><i class="icon-home"></i></a></li>
              <li class="breadcrumb-item active">{{ titulo }}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row clearfix">
        <div class="col-lg-12 col-md-12">

          <div class="card">
            <div class="card-body">
              {% load static %}



              <div class="row div-form" style="display: none">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <p class="lead font-weight-bold mb-3">Nuevo Contrato</p>
                </div>
              </div>

              <form method="POST" id="formContratos" action="{% url 'submitContrato' %}"  data-parsley-validate class="form-auth-small div-form" style="display: none">
                <div class="row" >

                  {% csrf_token %}

                  {% for m in form %}

                  <div class="form-group col-lg-4 form-group mb-2">

                    <label>{{ m.label }}</label>
                    {{ m }}

                  </div>


                  {% endfor %}
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-2 offset-md-4 col-lg-2 offset-lg-4">
                    <button type="submit" class="btn btn-primary w-100">Guardar</button>
                  </div>
                  <div class="col-sm-12 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-4">
                    <button type="button" id="btnCancelar" class="btn btn-primary w-100">Cancelar</button>
                  </div>
                </div>
              </form>


              <div class="row div-table" style="display: none">
                <div class="col-sm-12 col-md-6 col-lg-2">
                  <button class="btn btn-light w-100" id="btnTabla"><i class="fa fa-table"></i> Tabla</button>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-2">
                  <button class="btn btn-light w-100" id="btnEstadistica"><i class="fa icon-pie-chart"></i> Estadísticas</button>
                </div>
              </div>
              <div class="row mt-3 div-table" id="div-table"  style="display: none">
                <div class="table-responsive col-lg-12">
                  <table id="data_table_ajax" class="table table-bordered table-striped table-hover small">
                    <thead>
                      <tr>
                        <th width="5%">N°</th>
                        <th width="15%">Proveedor</th>
                        <th width="10%">CUIT</th>
                        <th width="10%">Medio</th>
                        <th width="10%">Programa</th>
                        <th width="15%">Reparticón</th>
                        <th width="10%">Monto</th>
                        <th width="10%">Inicio</th>
                        <th width="10%">Fin</th>
                        <th width="10%">Estado</th>
                        <th align="center"></th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="row clearfix mt-3">
                <div class="col-lg-3 col-md-6">
                    <div class="card overflowhidden">
                        <div class="body text-center">
                            <div class="p-15">
                                <h3>109</h3>
                                <span>Contratos por Proveedores</span>
                            </div>
                        </div>
                        <div class="progress progress-xs progress-transparent custom-color-blue mb-0">
                            <div class="progress-bar" data-transitiongoal="87"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card overflowhidden">
                        <div class="body text-center">
                            <div class="p-15">
                                <h3>318</h3>
                                <span>Contratos por Repartición</span>
                            </div>
                        </div>
                        <div class="progress progress-xs progress-transparent custom-color-yellow mb-0">
                            <div class="progress-bar" data-transitiongoal="54"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card overflowhidden">
                        <div class="body text-center">
                            <div class="p-15">
                                <h3>520</h3>
                                <span>Contratos por Medios</span>
                            </div>
                        </div>
                        <div class="progress progress-xs progress-transparent custom-color-green mb-0">
                            <div class="progress-bar" data-transitiongoal="67"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card overflowhidden">
                        <div class="body text-center">
                            <div class="p-15">
                                <h3>$ 87.00</h3>
                                <span>Monto Acumulado</span>
                            </div>
                        </div>
                        <div class="progress progress-xs progress-transparent custom-color-purple mb-0">
                            <div class="progress-bar" data-transitiongoal="34"></div>
                        </div>
                    </div>
                </div>
            </div>

              <div class="row mt-3">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h5 class="text-center text-black">Ranking por cantidad de contratos</h5>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card">

                        <div class="body">
                            <div class="row text-center">
                                <div class="col-sm-12 col-12">
                                    <h5 class="m-0">Ranking de proveedores</h5>
                                </div>
                            </div>
                            <div id="bar-proveedor" class="graph m-t-20"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card">

                        <div class="body">
                            <div class="row text-center">
                                <div class="col-sm-12 col-12">
                                    <h5 class="m-0">Ranking de reparticiones</h5>
                                </div>
                            </div>
                            <div id="bar-reparticion" class="graph m-t-20"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card">

                        <div class="body">
                            <div class="row text-center">
                                <div class="col-sm-12 col-12">
                                    <h5 class="m-0">Ranking de medios</h5>
                                </div>
                            </div>
                            <div id="bar-medios" class="graph m-t-20"></div>
                        </div>
                    </div>
                </div>

            </div>

              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <!-- --------------------------------------------------------------------------------- -->
  <!-- --------------------------------------------------------------------------------- -->
  <!-- --------------------------------------------------------------------------------- -->

  <div class="aux"></div>

  {% endblock %}
  {% block extraJS %}
  <script>
  /******************************************************************************************/
  /*************************** FUNCION PARA LA CARGA DE PAGINA ******************************/
  /******************************************************************************************/

  $(document).ready(function(){

    $('#formContratos').parsley();

    {#$(".div-table").show();#}

    cargarTabla();

    cargarGraficos();

  });

  /******************************************************************************************/
  /******************************************************************************************/
  /******************************************************************************************/

  /******************************************************************************************/
  /*********************** FUNCION PARA CARGAR DATOS EN DATATABLE  **************************/
  /******************************************************************************************/

  var table;

  function cargarTabla(){


    $('#data_table_ajax').dataTable().fnClearTable();
    $('#data_table_ajax').dataTable().fnDestroy();

    var valores = {
      "csrfmiddlewaretoken" : '{{ csrf_token }}',
    }

    table = $('#data_table_ajax').DataTable({
      dom: 'Bfrtip',
      "deferRender": true,
      "pageLength": 10,
      "autoWidth": false,
      "processing": false,
      "searching" : false,

      buttons: [
        {
          text: '<i class="fa fa-plus"></i> <span> Nuevo Contrato</span>',
          className: 'table-btn-create',
          action: function ( e, dt, node, config ) {
            nuevoContrato();
          }
        },


      ],
      language: {
        url: "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
      },
      "ajax": {
        "url": "{% url 'contratos_ajax' %}",
        "data": valores,
        "async": true,
        "type": "POST",
        "dataSrc": ""
      },
      "columns": [
        { "data": "id" },
        { "data": "user__profile__nombre" },
        { "data": "user__username" },
        { "data": "medio__nombre" },
        { "data": "programa" },
        { "data": "reparticion__nombre" },
        { "data": "monto_formateado", className: 'text-right' },
        { "data": "fechaInicio_formateada" },
        { "data": "fechaFin_formateada" },
        {
          "data": null,
          "sortable": false,
          "render": function(data, type, row) {

            switch (data.status){
              case 'P':
              return '<span class="text-warning fw-bold">PENDIENTE</span>';
              break;
              case 'A':
              return '<span class="text-success fw-bold">AUTORIZADO</span>';
              break;
              case 'D':
              return '<span class="text-danger fw-bold">DENEGADO</span>';
              break;

            }
          }
        },


        {
          "data": null,
          "sortable": false,
          "width" : "2%",
          "className": "",
          "render": function(data, type, row) {

            if (data.status == 'P'){

              return '<button type="button" onclick="imprimirContrato('+data.id+')" class="btn btn-outline-secondary js-detalle" title="Reimprimir Contrato"><i class="fa fa-print"></i></button> ' +
              '<button type="button" onclick="autorizarContrato('+data.id+')" class="btn btn-outline-secondary js-detalle" title="Autorizar Contrato"><i class="fa fa-check"></i></button> ' +
              '<button type="button" onclick="denegarContrato('+data.id+')" class="btn btn-outline-secondary js-detalle" title="Denegar Contrato"><i class="fa fa-close"></i></button> '



            } else{
              return '<button type="button" onclick="imprimirContrato('+data.id+')" class="btn btn-outline-secondary js-detalle" title="Reimprimir Contrato"><i class="fa fa-print"></i></button>'
            }


          }
        },

      ],
      {#order: [[0, 'desc']]#}
    });

  }


  /******************************************************************************************/
  /******************************************************************************************/
  /******************************************************************************************/

  function nuevoContrato(){

    $(".div-table").hide(200);
    $(".div-form").show(200);
  }

  $("#btnCancelar").click(function(){

    $("#formContratos").trigger("reset").parsley().reset();
    $(".div-form").hide(200);
    $(".div-table").show(200);

  });


  $('#contrato-form').on('submit', function(event) {
    event.preventDefault(); // Evita que el formulario se envíe normalmente

    // Realizar la solicitud POST utilizando AJAX
    $.ajax({
      type: 'POST',
      async: false,
      url: $(this).attr('action'),
      data: $(this).serialize(),
      success: function(response) {

        $("#formContratos").trigger("reset").parsley().reset();
        $(".div-form").hide(200);
        table.ajax.reload(null, false);
        $(".div-table").show(200);

      }
    });
  });


  function imprimirContrato(id){
    $(".aux").html('<form id="verPdf" action="{% url 'contrato_pdf' %}" target="_blank" method="POST">{%  csrf_token %}' +
    '<input name="id" value="'+id+'"/>' +
    '</form>');

    $("#verPdf").submit();

    $(".aux").html('');
  }

  function autorizarContrato(id){

    swal({
      title: "Atención!",
      text: "Está por autorizar el contrato numero "+id+", esta operación no se puede deshacer. ¿Autorizar de todos modos?",
      icon: "warning",
      buttons: {
        cancelar : {
            text: "Cancelar",
            className: "swal-button--cancel"
        },
        autorizar:  {
            text: "Autorizar",
            className: "swal-button--confirm"
        },


      },
    }).then((value) => {
      switch (value) {

        case "autorizar":

          var valores = {
            "csrfmiddlewaretoken" : '{{csrf_token }}',
            "id": id,
          }

          $.ajax({
           url: '{% url 'autorizar_contrato' %}',
           type: 'POST',
           data: valores,
           success: function(data) {

               swal('Operación Exitosa!', 'El contrato fue Autorizado correatamente.' , 'success');
               table.ajax.reload(null, false);
           },
         });

        break;

        case "cancelar":
            swal.close()
        break;

      }
    });
  }



  function denegarContrato(id){

    swal({
      title: "Atención!",
      text: "Está por denegar el contrato numero "+id+", esta operación no se puede deshacer. ¿Denegar de todos modos?",
      icon: "warning",
      buttons: {
        cancelar : {
            text: "Cancelar",
            className: "swal-button--cancel"
        },
        denegar:  {
            text: "Denegar",
            className: "swal-button--confirm"
        },


      },
    }).then((value) => {
      switch (value) {

        case "denegar":

          var valores = {
            "csrfmiddlewaretoken" : '{{csrf_token }}',
            "id": id,
          }

          $.ajax({
           url: '{% url 'denegar_contrato' %}',
           type: 'POST',
           data: valores,
           success: function(data) {

               swal('Operación Exitosa!', 'El contrato fue Denegado correatamente.' , 'success');
               table.ajax.reload(null, false);
           },
         });

        break;

        case "cancelar":
            swal.close()
        break;

      }
    });
  }

function cargarGraficos() {

 Morris.Bar({
  element: 'bar-proveedor',
  data: [
    { y: 'a', a: 100},
    { y: 'b', a: 75},
    { y: 'c', a: 20},
    { y: 'd', a: 32},
    { y: 'e', a: 45},
    { y: 'f', a: 94},
    { y: 'g', a: 76},
    { y: 'h', a: 79},
    { y: 'i', a: 34},
    { y: 'j', a: 33}
  ],
  xkey: 'y',
  ykeys: 'a',
  labels: ['Cantidad'],
     barColors: ['#6ebdd1'],
        hideHover: 'auto',
        gridLineColor: '#eeeeee',
});

 Morris.Bar({
  element: 'bar-reparticion',
  data: [
    { y: 'a', a: 100},
    { y: 'b', a: 75},
    { y: 'c', a: 20},
    { y: 'd', a: 32},
    { y: 'e', a: 45},
    { y: 'f', a: 94},
    { y: 'g', a: 76},
    { y: 'h', a: 79},
    { y: 'i', a: 34},
    { y: 'j', a: 33}
  ],
  xkey: 'y',
  ykeys: 'a',
  labels: ['Cantidad'],
     barColors: ['#afc979'],
        hideHover: 'auto',
        gridLineColor: '#eeeeee',
});


 Morris.Bar({
  element: 'bar-medios',
  data: [
    { y: 'a', a: 100},
    { y: 'b', a: 75},
    { y: 'c', a: 20},
    { y: 'd', a: 32},
    { y: 'e', a: 45},
    { y: 'f', a: 94},
    { y: 'g', a: 76},
    { y: 'h', a: 79},
    { y: 'i', a: 34},
    { y: 'j', a: 33}
  ],
  xkey: 'y',
  ykeys: 'a',
  labels: ['Cantidad'],
     barColors: ['#faab6c'],
        hideHover: 'auto',
        gridLineColor: '#eeeeee',
});

}
</script>
{% endblock %}