{% load static %}
{% block content %}
<!doctype html>
<html lang="en">

<head>
<title>SISTEMA INTEGRADO DE ADMINISTRACIÓN FINANCIERA</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
<!-- VENDOR CSS -->



<!-- MAIN CSS -->
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

</head>

<body data-theme="theme-cyan">
	<!-- WRAPPER -->
	<div id="wrapper">
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle auth-main">
				<div class="auth-box">

                    {% include 'messages.html' %}
					<div class="card">
                        <div class="header">
                            <img class="img-login img-fluid"  src="{% static 'assets/images/logo-azul.png' %}" alt="Lucid">

                        </div>
                        <div class="body">
                            <p class="lead font-weight-bold mb-3">Se ha enviado un email de reinicialización de contraseña</p>
                                <div class="alert alert-success" role="alert">
                                    <p>Se le han enviado instrucciones sobre cómo establecer su contraseña. Si la dirección de email que proveyó existe, debería recibir las mismas pronto.</p>
                                    <p>Si no ha recibido un email, por favor asegúrese de que ha introducido la dirección de correo con la que se había registrado y verifique su carpeta de Correo no deseado.</p>
                                </div>
                                <div class="bottom">
                                    <span class="helper-text">Ya tiene una cuenta? <a href="/">Ingresar</a></span>
                                </div>
                          
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- END WRAPPER -->
</body>
</html>

{% endblock %}