{% extends "base.html" %}
{% block extraCss %}
{% endblock %}
{% block main %}
{% load static %}
<div id="main-content" class="profilepage_2 blog-page">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row g-3">
                    <div class="col-lg-5 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Usuario</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/proveedores/proveedoresHome"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Usuario</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix g-3">

                <div class="col-lg-12 col-md-12">
                    <div class="card profile-header mb-3">
                        <div class="body">
                            <div>
                                <h4 class="mb-0">{{ user.get_full_name }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extraJS %}
{% endblock %}