<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">CUIT:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.cuit }}</p>
    </div>

     <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Nro de DNI:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.dni }}</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Apellido y Nombre:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.apellidoNombre }}</p>
    </div>

     <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Tipo Soc:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.tipoSoc }}</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Nombre de Fantasía:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.nombreFantasia }}</p>
    </div>

     <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Fecha Alta:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.fecAlta }}</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Teléfono:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.tel }}</p>
    </div>

     <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Celular:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.cel }}</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Mail:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.mail }}</p>
    </div>

     <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">WhatsApp Asociado al Cel?:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.wappAsociado }}</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <hr width="100%" />
    </div>
</div>

<div class="row">
    <div class="col-lg-12"><p class="h6 text-primary text-center">DOMICILIO REAL</p></div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Calle:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.domicilio }}</p>
    </div>

     <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Nro:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.nroDomicilio }}</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Código Postal:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.codPostal }}</p>
    </div>

     <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Localidad:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.localidad }}</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Provincia:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.provincia }}</p>
    </div>

     <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">País:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.pais }}</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <hr width="100%" />
    </div>
</div>

<div class="row">
    <div class="col-lg-12"><p class="h6 text-primary text-center">DOMICILIO FISCAL</p></div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Calle:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.domicilioLegal }}</p>
    </div>

     <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Nro:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.nroDomicilioLegal }}</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Código Postal:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.codPostalLegal }}</p>
    </div>

     <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Localidad:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.localidadLegal }}</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Provincia:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.provinciaLegal }}</p>
    </div>

     <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">País:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.paisLegal }}</p>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <hr width="100%" />
    </div>
</div>


<div class="row">
    <div class="col-lg-12"><p class="h6 text-primary text-center">DATOS COMERCIALES</p></div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Cod. Reg.de Prov.del Estado:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.codRegistro }}</p>
    </div>

     <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Nro.Resolucion:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
         <p>{{ detalle.resolucionIb }}</p>
    </div>

</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Cond.IVA:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.iva }}</p>
    </div>

     <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Categoría:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.categoria }}</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Ing.Brutos:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.ib }}</p>
    </div>

     <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Nro.Ingresos Brutos:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.nroIb }}</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Nro.Resol.Exencion IB:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.resolucionIb }}</p>
    </div>

     <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Vigencia Hasta:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.vigenciaHasta }}</p>
    </div>
</div>


<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Ganancias:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.gan }}</p>
    </div>

</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Mes Cierre:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.mesCierre }}</p>
    </div>

     <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Fec.Contrato Social:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.fecContrato }}</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Nro.Reg.Comercio:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.regComercio }}</p>
    </div>

     <div class="col-sm-6 col-md-6 col-lg-3">
        <p class="fw-bold">Empleadores:</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <p>{{ detalle.empleador }}</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <hr width="100%" />
    </div>
</div>

<div class="row">
    <div class="col-lg-12"><p class="h6 text-primary text-center">ACTIVIDADES</p></div>
</div>


{% for c in actividad %}

    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-1">
         <p class="fw-bold">Código:</p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-2">
         <p>{{ c.codActividad }}</p>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-1">
         <p class="fw-bold">Desc.:</p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-8">
         <p>{{ c.actividad }}</p>
        </div>
    </div>

{% endfor %}