{% extends "base.html" %}
{% block extraCss %}
{% endblock %}
{% block main %}
{% load static %}
<div id="main-content" class="profilepage_2 blog-page">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row g-3">
        <div class="col-lg-5 col-md-8 col-sm-12">
          <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>
            {{ titulo }}</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active">{{ titulo }}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row clearfix">
        <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="col-lg-12">

            <!-- --------------------------------------------------------------------------------- -->
            <!-- --------------------------- FILTROS DE BUSQUEDA --------------------------------- -->
            <!-- --------------------------------------------------------------------------------- -->

              <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-2">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Ejer.</span>
                    </div>
                    <input type="text" class="form-control" value="{{ anio }}" name="ejer_ajax" id="ejer_ajax" autocomplete="off">
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-2">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Jur.</span>
                    </div>
                    <input type="text" class="form-control" name="jur_ajax" id="jur_ajax" autocomplete="off">
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-2">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">UDO</span>
                    </div>
                    <input type="text" class="form-control" name="udo_ajax" id="udo_ajax" autocomplete="off">
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-2">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Nro. OP</span>
                    </div>
                    <input type="text" class="form-control" name="nro_op_ajax" id="nro_op_ajax" autocomplete="off">
                  </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-2">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Estado</span>
                    </div>
                    <select class="form-control" id="estado_ajax" name="estado_ajax">
                      <option value="T" selected="selected">Habilitadas</option>
                      <option value="S">Habilitadas</option>
                      <option value="Null">No Habilitadas</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-1 mb-3">
                  <button class="btn btn-primary w-100" type="button" id="btnBuscar" title="Buscar"><i class="fa fa-search"></i></button>
                </div>
                <div class="col-lg-1 mb-3">
                  <button class="btn btn-success w-100" type="button" id="btnExcel" title="Exportar Excel"><i class="fa fa-file-excel-o"></i></button>
                </div>
              </div>

             <!-- --------------------------------------------------------------------------------- -->
             <!-- --------------------------------------------------------------------------------- -->
             <!-- --------------------------------------------------------------------------------- -->

            </div>

            <!-- --------------------------------------------------------------------------------- -->
            <!-- ------------------------------- TABLA OPS --------------------------------------- -->
            <!-- --------------------------------------------------------------------------------- -->

            <div class="table-responsive col-lg-12">
              <table id="data_table_ajax" class="table table-bordered table-striped table-hover small">
                <thead>
                  <tr>
                    <th>Ejer.</th>
                    <th>Nro. OP</th>
                    <th>Jur.</th>
                    <th>UDO</th>
                    <th>Repartición</th>
                    <th>Estado</th>
                    <th>Pagado</th>
                    <th>Saldo</th>
                    <th>Imp. Pago</th>
                    <th>Opa. Emi.</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>

            <!-- --------------------------------------------------------------------------------- -->
            <!-- --------------------------------------------------------------------------------- -->
            <!-- --------------------------------------------------------------------------------- -->

          </div>
        </div>
      </div>
     </div>
    </div>
  </div>

  <!-- --------------------------------------------------------------------------------- -->
  <!-- ------------------------------ MODAL LG VACIO ----------------------------------- -->
  <!-- --------------------------------------------------------------------------------- -->


  <div class="modal fade" id="modal-detalle" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content"></div>
    </div>
  </div>

  <!-- --------------------------------------------------------------------------------- -->
  <!-- --------------------------------------------------------------------------------- -->
  <!-- --------------------------------------------------------------------------------- -->

  <div class="aux"></div>

  {% endblock %}
  {% block extraJS %}
  <script>

  /******************************************************************************************/
  /*********************** FUNCION PARA CARGAR DATOS EN DATATABLE DE OPs ********************/
  /******************************************************************************************/

  var tableOP;

  function cargarTabla(){

    $('#data_table_ajax').dataTable().fnClearTable();
    $('#data_table_ajax').dataTable().fnDestroy();

    var valores = {
      "csrfmiddlewaretoken" : '{{ csrf_token }}',
      "ejer_ajax":  $("#ejer_ajax").val(),
      "jur_ajax":  $("#jur_ajax").val(),
      "udo_ajax":  $("#udo_ajax").val(),
      "nro_op_ajax":  $("#nro_op_ajax").val(),
      "estado_ajax":  $("#estado_ajax").val(),
    }

    tableOP = $('#data_table_ajax').DataTable({
      autoWidth: false,
      searching: false,
      dom: 'Bfrtip',
      buttons: [
        'csv', 'print',
      ],
      language: {
        url: "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
      },
      "ajax": {
        "url": "{% url 'op_impagas_ajax' %}",
        "data": valores,
        "async": true,
        "type": "POST",
        "dataSrc": ""
      },
      "columns": [
        { "data": "ejercicio" },
        { "data": "nroOP" },
        { "data": "jurisdiccion" },
          { "data": "udo" },
          { "data": "reparticion" },
          { "data": "estadoOPC" },
          { "data": "pagado", "className" : "text-end" },
          { "data": "saldo", "className" : "text-end" },
          { "data": "importeTotal", "className" : "text-end" },
          { "data": "fecEmision" },
        {
          "data": null,
          "sortable": false,
          "width" : "2%",
          "render": function(data, type, row) {

            return '<button type="button" onclick="verPdf('+data.ejercicio+','+data.nroOP+',`'+data.juri+'`,`'+data.udo+'`)"  class="btn btn-outline-secondary js-imprimir" title="Imprimir"><i class="fa fa-print"></i></button>' +
            ' <button type="button" onclick="verDetalle('+data.ejercicio+','+data.nroOP+',`'+data.juri+'`,`'+data.udo+'`)" class="btn btn-outline-secondary js-detalle" title="Detalle de la OP"><i class="fa fa-bars"></i></button>';

          }
        },
      ]
    });
  }

  /******************************************************************************************/
  /******************************************************************************************/
  /******************************************************************************************/


   /******************************************************************************************/
  /*************************** FUNCION PARA EL BOTON VER DETALLES ***************************/
  /******************************************************************************************/

  function verDetalle(OpaAnio,OpaNro,jurcod,repudo){

    var valores = {
        "csrfmiddlewaretoken" : '{{csrf_token }}',
        "OpaAnio": OpaAnio,
        "OpaNro": OpaNro,
        "jurcod": jurcod,
        "repudo": repudo,
    }

    $.ajax({
    url: '{% url 'op_detalle' %}',
    type: 'POST',
    data: valores,
    dataType: 'json',
    success: function(data) {

         $("#modal-detalle .modal-content").html(data.html_form);
         $("#modal-detalle").modal("show");
    },

    });


  }

  /******************************************************************************************/
  /******************************************************************************************/
  /******************************************************************************************/


  /******************************************************************************************/
  /*************************** FUNCION PARA LA CARGA DE PAGINA ******************************/
  /******************************************************************************************/

  $(document).ready(function(){
    cargarTabla();
  });

  /******************************************************************************************/
  /******************************************************************************************/
  /******************************************************************************************/


  /******************************************************************************************/
  /*********************** FUNCION PARA EL BOTON BUSCAR CON FILTRO **************************/
  /******************************************************************************************/

  $("#btnBuscar").click(function(){
    cargarTabla();
  });

  /******************************************************************************************/
  /******************************************************************************************/
  /******************************************************************************************/

  /****************************************************************************************/
  /************************** FUNCION PARA EL BOTON EXCEL ***********************************/
  /******************************************************************************************/

  $("#btnExcel").click(function(){

    swal({
      title: "Atención!",
      text: "El archivo excel puede ser exportado con detalles de comprobantes o sin el mismo.",
      icon: "info",
      buttons: {
        con:  {
            text: "Con Compr.",
            className: "swal-button--cancel"
        },
        sin : {
            text: "Sin Compr.",
            className: "swal-button--cancel"
        },
        cerrar: {
            text: "Cerrar",
            className: "swal-button--cancel"
        },
      },
    }).then((value) => {
      switch (value) {

        case "con":
        op_pagadas_excel('con')
        break;

        case "sin":
        op_pagadas_excel('sin')
        break;

      }
    });

  });

   function op_pagadas_excel(tipo){

    $(".aux").html('<form id="explortarExcel" action="{% url 'op_impagas_excel' %}" method="POST">{%  csrf_token %}' +
        '<input name="tipo" value="'+tipo+'"/>' +
        '<input name="ejer_ajax" value="'+$("#ejer_ajax").val()+'"/>' +
        '<input name="jur_ajax" value="'+$("#jur_ajax").val()+'"/>' +
        '<input name="udo_ajax" value="'+$("#udo_ajax").val()+'"/>' +
        '<input name="nro_op_ajax" value="'+$("#nro_op_ajax").val()+'"/>' +
        '<input name="estado_ajax" value="'+$("#estado_ajax").val()+'"/>' +
        '</form>');

    $("#explortarExcel").submit();

    $(".aux").html('');

   }



  function verPdf(ejercicio,nroOP,juri,udo){

    $(".aux").html('<form id="verPdf" action="{% url 'op_imprimir' %}" target="_blank" method="POST">{%  csrf_token %}' +
        '<input name="ejercicio" value="'+ejercicio+'"/>' +
        '<input name="nroOP" value="'+nroOP+'"/>' +
        '<input name="juri" value="'+juri+'"/>' +
        '<input name="udo" value="'+udo+'"/>' +
        '</form>');

    $("#verPdf").submit();

    $(".aux").html('');

   }

  /******************************************************************************************/
  /******************************************************************************************/
  /******************************************************************************************/

</script>
{% endblock %}