{% load custom_filters %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Excel</title>

</head>
<body>

<table>
<TR>
    <th>Ejer.</th>
<th>Nro. OP</th>
<th>Jur.</th>
<th>UDO</th>
<th>Repartición</th>
<th>Estado</th>
<th>Pagado</th>
<th>Saldo</th>
<th>Imp. Pago</th>
<th>Opa. Emi.</th>
{#    {% if tipo == 'con' %}#}
{#    <TD>CPBTE.</TD>#}
{#    <TD>LETRA COMP.</TD>#}
{#    <TD>SUCURSAL COMP.</TD>#}
{#    <TD>N° COMP.</TD>#}
{#    <TD>IMPORTE COMP.</TD>#}
{#    {% endif %}#}
</TR>


{% for c in comprobante %}
    <tr>
    <td>{{ c.ejercicio }}</td>
        <td>{{ c.nroOP }}</td>
        <td>{{ c.jurisdiccion }}</td>
        <td>{{ c.udo }}</td>
        <td>{{ c.reparticion }}</td>
        <td>{{ c.estadoOPT }}</td>
        <td>{{ c.pagado|formatear_numero }}</td>
        <td>{% with c.importeTotalOP|subtract:c.pagado as result %}{{ result|formatear_numero }}{% endwith %}</td>
        <td>{{ c.importeTotalOP|formatear_numero }}</td>
        <td>{{ c.fecEmision|formato_fecha }}</td>
{#    {% if tipo == 'con' %}#}
{#    <td>{{ c.tipoCbpte }}</td>#}
{#    <td>{{ c.letraCpbte }}</td>#}
{#    <td>{{ c.sucursalCpbte }}</td>#}
{#    <td>{{ c.nroCpbte }}</td>#}
{#    <td>{{ c.importeCpbte }}</td>#}
{#    {% endif %}#}
    </tr>

{% endfor %}

</table>

</body>
</html>