<div class="modal-header">
  <p class="h6">{{ titulo }} </p>
</div>
<div class="modal-body">

  <div class="row">
    <div class="col-lg-12">
      <p class="text-center text-warning fw-bolder">{{ detalle.tipoCpbtePago }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-5">
          <p class="fw-bold">Nro.Débito:</p>
        </div>
        <div class="col-lg-7">
          <p>{{ detalle.nroCpbtePago }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-5">
          <p class="fw-bold">Nro.de Cuenta:</p>
        </div>
        <div class="col-lg-7">
          <p>{{ detalle.cuenta }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-5">
          <p class="fw-bold">Fecha de Emisión:</p>
        </div>
        <div class="col-lg-7">
          <p>{{ detalle.fecEmi }}</p>
        </div>
      </div>
    </div>
      
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-5">
          <p class="fw-bold">Fecha de Banco:</p>
        </div>
        <div class="col-lg-7">
          <p>{{ detalle.fecPag }}</p>
        </div>
      </div>
    </div>
  </div>


</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" data-bs-dismiss="modal">Cerrar</button>
</div>
