
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>PDF</title>
  <style type="text/css">
    @page {
      size: A4;
      margin-top: 3.5cm;
      margin-bottom: 2cm;
      @bottom-right {
        content: "Pagina " counter(page) " de " counter(pages);
        font-family: "Arial";
        font-size: 8px;
      }
    }
    @page :first {
      margin-top: 1cm;
    }
    @page :right {
      margin-left: 3cm;
      margin-right: 1cm;
    }
    @page :left {
      margin-left: 1cm;
      margin-right: 3cm;
    }

    .cabecera {
      font-family: Arial;
      font-size: 12px;
      text-align: center;
      font-style: italic;
    }

    .texto {
      text-align: justify;
      text-justify: inter-word;
      font-family: "Arial";
      font-size: 12px;
      position: fixed;
      width: 100%;
    }

    .text-left {
      text-align: left !important;
    }

    .text-right {
      text-align: right !important;
    }

    .text-center {
      text-align: center !important;
    }


    .box {
      display: inline-block;
      vertical-align: top;
      height: auto;
      padding: 0px;
      {#border: solid 1px red;#}
    }

    .div, p{
      width: 100%;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      font-size: 10px;
      text-align: justify;
    }


  </style>
</head>
<body>
  <div class="cabecera">
    {% load static %}
    <img src="{% static 'assets/images/logo.png' %}" alt="">
  </div>

  <div class="div" style="margin-top: -5px">
   <div class="box" style="width: 100% !important;">
       <hr style="border: solid 1px #000000;" width="100%">
   </div>
  </div>

  <div class="div">
    <div class="box" style="width: 81.9% !important;">
      <p class="text-right" style="font-weight: bold">ORDEN DE PAGO </p>
    </div>
    <div class="box" style="width: 17% !important;">
      <p class="text-right">{{ cabecera.nroOP }} / {{ cabecera.ejercicio }}</p>
    </div>
  </div>

  <div class="div">
    <div class="box" style="width: 99.6% !important;">
      <p>{{ cabecera.JurDes }}</p>
      <p>{{ cabecera.reparticion }}</p>
    </div>
  </div>

  <div class="div">
     <div class="box text-left" style="width: 20% !important;">
      <p class="text-left" style="font-weight: bold">{{ cabecera.jurcod  }} - {{ cabecera.repudo }}</p>
    </div>
    <div class="box text-right" style="width: 42% !important;">
      <p class="text-right" style="font-weight: bold">Lugar y Fecha</p>
    </div>
    <div class="box  text-right" style="width: 35.9% !important;">
      <p class="text-right" >{{ cabecera.lugar }}, {% now "d/m/Y" %}</p>
    </div>
  </div>

  <div class="div">
    <div class="box text-right" style="width: 88% !important;">
      <p class="text-right" style="font-weight: bold">Fecha OP </p>
    </div>
    <div class="box  text-right" style="width: 10.9% !important;">
      <p class="text-right">{{ cabecera.fecEmision }}</p>
    </div>
  </div>

  <div class="div">
    <div class="box" style="width: 23% !important;">
      <p>Con Cargo a Rendir Cuenta</p>
    </div>
    <div class="box " style="width: 10% !important;">
      <p>Proveedor</p>
    </div>
    <div class="box" style="width: 41.9% !important;">
      <p>{{ cabecera.nombreProveedor }}</p>
    </div>
    <div class="box" style="width: 9% !important;">
      <p>CUIT N°</p>
    </div>
    <div class="box text-right" style="width: 13.7% !important;">
      <p  style="text-align: right;">{{ cabecera.cuit }}</p>
    </div>
  </div>

  <div class="div">
    <div class="box" style="width: 67% !important;">
      <p>Por TESORERIA DE LA PROVINCIA, previa intervención de la Contaduria de la Provincia, páguese a: {{ cabecera.paguese }}</p>
    </div>
  </div>

  <div class="div">
    <div class="box" style="width: 16% !important;">
      <p>La suma de pesos: </p>
    </div>
    <div class="box" style="width: 82.9% !important;">
      <p>{{ importeTexto|upper}}</p>
    </div>
  </div>

  <div class="div">
    <div class="box" style="width: 100% !important;">
      <p>Que se aplicará al pago de la/s siguiente/s liquidacion/es:</p>
    </div>
  </div>

  <div class="div">
    <div class="box" style="width: 100% !important;border:solid 1px #000">
      <div class="div">
        <div class="box" style="width: 15% !important;">
          <p style="text-align: center">ORDEN DE</p>
        </div>
        <div class="box" style="width: 12% !important;">
          <p style="text-align: center">PARTIDA</p>
        </div>
        <div class="box" style="width: 27% !important;;">
          <p style="text-align: center">CONCEPTO</p>
        </div>
        <div class="box" style="width: 15% !important;">
          <p style="text-align: center">COMPROBANTE</p>
        </div>
        <div class="box" style="width: 13% !important;">
          <p style=";text-align: center">EXPEDIENTE</p>
        </div>
        <div class="box" style="width: 13.8% !important;">
          <p style="text-align: center">IMPORTE</p>
        </div>
      </div>
    </div>
  </div>

  {% for i in detalle %}

  <div class="div" style="margin-bottom: -5px;margin-top: -5px">
    <div class="box" style="width: 15% !important;">
      <p style="text-align: center">{{ i.nroOrdCompra}}</p>
    </div>
    <div class="box" style="width: 12% !important;">
      <p style="text-align: center">{{ i.partidaN1}} {{ i.partidaN2}} {{ i.partidaN3}} {{ i.partidaN4}}</p>
    </div>
    <div class="box" style="width: 27% !important;">
      <p style="text-align: left">{{ i.partidaNombre}}</p>
    </div>
    <div class="box" style="width: 15% !important;">
      <p style="text-align: center">{{ i.tipoCbpte}} - {{ i.letraCpbte}} - {{ i.sucursalCpbte}} - {{ i.nroCpbte}}</p>
    </div>
    <div class="box" style="width: 13% !important;">
      <p style="text-align: center">{{ i.expediente}}</p>
    </div>
    <div class="box" style="width: 13.8% !important;">
      <p style="text-align: right">{{ i.importeCpbte }}</p>
    </div>
  </div>

  {% endfor %}

  <div class="div">
    <div class="box" style="width: 100% !important;border:solid 1px #000">
      <div class="div">
          <div class="box" style="width: 100% !important;margin-bottom: -10px">
          <p style="text-align: center">Pagos asociados a la Orden de Pago</p>
        </div>
      </div>
      <div class="div">
        <div class="box" style="width: 17% !important;">
          <p style="text-align: center">Pago</p>
        </div>
        <div class="box" style="width: 17% !important;">
          <p style="text-align: center">Comprobante</p>
        </div>
        <div class="box" style="width: 21% !important;;">
          <p style="text-align: center">Nro.</p>
        </div>
        <div class="box" style="width: 15% !important;">
          <p style="text-align: center">Fec.Aplicación</p>
        </div>
        <div class="box" style="width: 13% !important;">
          <p style=";text-align: center">Fec.Pago</p>
        </div>
        <div class="box" style="width: 12.5% !important;">
          <p style="text-align: center">Importe Pago</p>
        </div>
      </div>

      {% for j in pagosAsociados %}

       <div class="div">
        <div class="box" style="width: 17% !important;">
          <p style="text-align: center">{{ j.nroLiq}}</p>
        </div>
        <div class="box" style="width: 17% !important;">
         <p style="text-align: left">{{ j.tipoPago}}</p>
        </div>
        <div class="box" style="width: 21% !important;;">
         <p style="text-align: center">{{ j.cpbtePago}}</p>
        </div>
        <div class="box" style="width: 15% !important;">
         <p style="text-align: center">{{ j.fecAplic}}</p>
        </div>
        <div class="box" style="width: 13% !important;">
         <p style="text-align: center"> {% if j.fecPago is None %} - {% else %} {{ j.fecPago }} {% endif %}</p>
        </div>
        <div class="box" style="width: 12.5% !important;">
         <p style="text-align: right">{{ j.importeLiq}}</p>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>

  <div class="div" style="border-top: solid 1px #000;margin-top: 15px">
    <div class="box" style="width: 77% !important;">
      {% if saldo < 1 %}
          <p style="font-weight: bold; text-align: center !important;">ORDEN DE PAGO CANCELADA</p>
      {% endif %}
     </p>
    </div>
    <div class="box text-right" style="width: 21.9% !important;">
      <div class="div">
        <div class="box text-left" style="width: 25% !important;"><p>Total</p></div>
        <div class="box" style="width: 69.9% !important;"><p class="text-right">{% load l10n %} {{importe|floatformat:2|localize}}</p></div>
      </div>
      <div class="div">
        <div class="box text-left" style="width: 25% !important;"><p>Saldo</p></div>
        <div class="box" style="width: 69.9% !important;"><p class="text-right">{% load l10n %} {{saldo|floatformat:2|localize}}</p></div>
      </div>
    </div>
  </div>
</body>
</html>