<nav id="left-sidebar-nav" class="sidebar-nav">
    <ul id="main-menu" class="metismenu">
        {% for grupo in user.groups.all %}
        <li class="active">
            <a href="#" class="has-arrow"><i class="{{ grupo.icon }}"></i> <span>{{ grupo }}</span></a>
            <ul class="collapse in">
                {% for menu in grupo.menugrupo_set.all|dictsort:"orden" %}
                    {%  if menu.grupo.id == 4 %}

                        {% if menu.nombre == 'Auditoría' %}
                           {% if 'prensa.admin_prensa' in user.get_all_permissions %}
                            <li><a href="{{ menu.url }}">{{ menu.nombre }}</a></li>
                           {% endif %}
                        {% else %}

                            <li><a href="{{ menu.url }}">{{ menu.nombre }}</a></li>

                        {% endif %}

                    {% else %}

                        <li><a href="{{ menu.url }}">{{ menu.nombre }}</a></li>

                    {% endif %}



                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</nav>