<ul class="nav navbar-nav">
    <li class="dropdown">
{#        <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-bs-toggle="dropdown">#}
{#            <i class="icon-bell text-light"></i>#}
{#            <span class="notification-dot" style="background-color: white"></span>#}
{#        </a>#}
        <ul class="dropdown-menu notifications">
            <!--
            <li class="header"><strong>You have 4 new Notifications</strong></li>
            <li>
                <a href="javascript:void(0);">
                    <div class="media d-flex">
                        <div class="media-left">
                            <i class="icon-info text-warning"></i>
                        </div>
                        <div class="media-body">
                            <p class="text">Campaign <strong>Holiday Sale</strong> is nearly reach budget limit.</p>
                            <span class="timestamp">10:00 AM Today</span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <div class="media d-flex">
                        <div class="media-left">
                            <i class="icon-like text-success"></i>
                        </div>
                        <div class="media-body">
                            <p class="text">Your New Campaign <strong>Holiday Sale</strong> is approved.</p>
                            <span class="timestamp">11:30 AM Today</span>
                        </div>
                    </div>
                </a>
            </li>
             <li>
                <a href="javascript:void(0);">
                    <div class="media d-flex">
                        <div class="media-left">
                            <i class="icon-pie-chart text-info"></i>
                        </div>
                        <div class="media-body">
                            <p class="text">Website visits from Twitter is 27% higher than last week.</p>
                            <span class="timestamp">04:00 PM Today</span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <div class="media d-flex">
                        <div class="media-left">
                            <i class="icon-info text-danger"></i>
                        </div>
                        <div class="media-body">
                            <p class="text">Error on website analytics configurations</p>
                            <span class="timestamp">Yesterday</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="footer"><a href="javascript:void(0);" class="more">See all notifications</a></li>
            -->
        </ul>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-bs-toggle="dropdown"><i class="icon-equalizer text-light"></i></a>
        <ul class="dropdown-menu user-menu menu-icon">
            <li class="menu-heading">Mi Cuenta</li>
            <li><a href="{% url 'userProfile' %}"><i class="icon-user"></i> <span>Mis Datos</span></a></li>
        </ul>
    </li>
    <li>
        <a href="{% url 'logout_view' %}" class="icon-menu"><i class="icon-login text-light"></i></a>
    </li>
</ul>
