{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recuperación de contraseña</title>
</head>
<body>
    <p>Hola {{ user.username }},</p>
    <p>Has solicitado un restablecimiento de contraseña para tu cuenta en nuestro sitio web. Para restablecer tu contraseña, haz clic en el siguiente enlace:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'recuperarContrasenaReinicio' uidb64=uid token=token %}">Restablecer contraseña</a></p>
    <p>Si no solicitaste este restablecimiento, puedes ignorar este correo electrónico y tu contraseña seguirá siendo la misma.</p>
    <p>Atentamente,<br>{{ site_name }}</p>
</body>
</html>
