{% extends "base.html" %}
{% block extraCss %}
{% endblock %}
{% block main %}
{% load static %}
<div id="main-content" class="profilepage_2 blog-page">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row g-3">
        <div class="col-lg-5 col-md-8 col-sm-12">
          <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>
            {{ titulo }}</h2>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{ index }}"><i class="icon-home"></i></a></li>
              <li class="breadcrumb-item active">{{ titulo }}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row clearfix">
        <div class="col-lg-12 col-md-12">

          <div class="card">
            <div class="card-body">
              {% load static %}

              <div class="row div-gral div-tablePrincipal">
                <div class="col-sm-6 col-md-6 col-lg-2 offset-lg-3">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Año</span>
                    </div>
                    <input type="number" class="form-control" onblur="controlAnio()" name="anio_ajax" value="{% now "Y" %}" id="anio_ajax" autocomplete="off">
                  </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-3">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Mes</span>
                    </div>
                    <select class="form-control" name="mes_ajax" id="mes_ajax">
                      <option value="1">Enero</option>
                      <option value="2">Febrero</option>
                      <option value="3">Marzo</option>
                      <option value="4">Abril</option>
                      <option value="5">Mayo</option>
                      <option value="6">Junio</option>
                      <option value="7">Julio</option>
                      <option value="8">Agosto</option>
                      <option value="9">Septiembre</option>
                      <option value="10">Octubre</option>
                      <option value="11">Noviembre</option>
                      <option value="12">Diciembre</option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-1 col-md-12 mb-3">
                  <button onclick="cargarTabla()" class="btn btn-primary text-center w-100"><i class="fa fa-search"></i></button>
                </div>

              </div>

              <div class="row div-gral div-tablePrincipal">
                <div class="table-responsive col-lg-12">
                  <table id="data_table_ajax" class="table table-bordered table-striped table-hover small">
                    <thead>
                      <tr>
                        <th width="10%">Jur</th>
                        <th width="17%">Repartición</th>
                        <th width="13%">Cantidad de Personas</th>
                        <th width="10%">Remunerativo</th>
                        <th width="10%">No Remunerativo</th>
                        <th width="5%">Total</th>
                        <th width="5%" align="center">%</th>
                        <th width="1%"></th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                      <tr class="bg-light">
                        <th colspan="2"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
              <!-- --------------------------------------------------------------------------------- -->
              <!-- --------------------------------------------------------------------------------- -->
              <!-- --------------------------------------------------------------------------------- -->

              <div class="row div-gral div-tablePersonas" style="display: none">
                <div class="col-lg-3 col-md-3 col-sm-12">
                  <button class="btn btn-primary mb-3 w-100" onclick="volverAlTablero()"><i class="fa fa-angle-double-left"></i> Volver al tablero principal</button>
                </div>
              </div>
              <div class="row div-gral div-tablePersonas" style="display: none">
                <div class="table-responsive col-lg-12">
                  <table id="data_table_personas_ajax" class="table table-bordered table-striped table-hover small">
                    <thead>
                      <tr>
                        <th width="7%">CUIL</th>
                        <th width="17%">Nombre y Apellido</th>
                        <th width="10%">Estado</th>
                        <th width="10%">Repartición</th>
                        <th width="13%">Categoría</th>
                        <th width="10%">Remunerativo</th>
                        <th width="10%">No Remunerativo</th>
                        <th width="8%">Total</th>
                        <th width="5%">%</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                      <tfoot>
                      <tr class="bg-light">
                        <th colspan="5"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>


              <div class="row div-gral div-tableCategorias" style="display: none">
                <div class="col-lg-3 col-md-3 col-sm-12">
                  <button class="btn btn-primary mb-3 w-100" onclick="volverAlTablero()"><i class="fa fa-angle-double-left"></i> Volver al tablero principal</button>
                </div>
              </div>
              <div class="row div-gral div-tableCategorias" style="display: none">
                <div class="table-responsive col-lg-12">
                  <table id="data_table_categorias_ajax" class="table table-bordered table-striped table-hover small">
                    <thead>
                      <tr>
                        <th width="7%">Cod.</th>
                        <th width="13%">Categoría</th>
                        <th width="10%">Remunerativo</th>
                        <th width="10%">No Remunerativo</th>
                        <th width="8%">Total</th>
                        <th width="5%">%</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                      <tfoot>
                      <tr class="bg-light">
                        <th colspan="2"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>

            <div class="row div-gral div-tableConceptos" style="display: none">
                <div class="col-lg-3 col-md-3 col-sm-12">
                  <button class="btn btn-primary mb-3 w-100" onclick="volverAlTablero()"><i class="fa fa-angle-double-left"></i> Volver al tablero principal</button>
                </div>
              </div>
              <div class="row div-gral div-tableConceptos" style="display: none">
                <div class="table-responsive col-lg-12">
                  <table id="data_table_conceptos_ajax" class="table table-bordered table-striped table-hover small">
                    <thead>
                      <tr>
                        <th width="7%">Cod.</th>
                        <th width="13%">Concepto</th>
                        <th width="10%">Remunerativo</th>
                        <th width="10%">No Remunerativo</th>
                        <th width="8%">Total</th>
                        <th width="5%">%</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                      <tr class="bg-light">
                        <th colspan="2"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <!-- --------------------------------------------------------------------------------- -->
  <!-- --------------------------------------------------------------------------------- -->
  <!-- --------------------------------------------------------------------------------- -->


  {% endblock %}
  {% block extraJS %}
  <script>

  /******************************************************************************************/
  /*********************** FUNCION PARA CARGAR DATOS EN DATATABLE  **************************/
  /******************************************************************************************/


  var table;

  function cargarTabla(){

    $('#data_table_ajax').dataTable().fnClearTable();
    $('#data_table_ajax').dataTable().fnDestroy();

    var anio = $("#anio_ajax").val();
    var mes = $("#mes_ajax").val();

    var valores = {
      "csrfmiddlewaretoken" : '{{ csrf_token }}',
      "anio_ajax": anio,
      "mes_ajax": mes,
    }

    swal({
      title: "",
      text: '<p class="text-center"><i class="fa fa-spinner fa-spin fa-3x fa-fw  mt-4"></i></p><p class="text-center mt-2 mb-4">Esta operación puede demorar, por favor aguarde mientras se carga la información.</p>',
      html: true,
      showConfirmButton:false,
      allowOutsideClick: false,
      allowEscapeKey: false
    });


    table = $('#data_table_ajax').DataTable({
      autoWidth: false,
      searching: true,
      dom: 'Bfrtip',
      buttons: [
        'csv', 'print',
      ],
      language: {
        url: "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
      },
      "ajax": {
        "url": "{% url 'principal_ajax' %}",
        "data": valores,
        "async": true,
        "type": "POST",
        "dataSrc": ""
      },
      "columns": [
        { "data": "repjur", width: '5%' },
        { "data": "JurNom", width: "20%"  },
        { "data": "cantidad", width: "15%"  },
        { "data": "remunerativoFormat", width: "15%" },
        { "data": "noRemunerativoFormat", width: "15%" },
        { "data": "totalFormat", width: "20%" },
        { "data": "porcentaje", width: "10%" },

        {
          "data": null,
          "sortable": false,
          "width" : "2%",
          "className": "text-center",
          "render": function(data, type, row) {

            return  '<button type="button" onclick="cargarTablaPersonas(`'+data.repjur+'`,`'+data.JurNom+'`, `'+anio+'`, `'+mes+'`)" class="btn btn-outline-secondary js-detalle" title="Ver Por Personas"><i class="fa fa-child"></i></button> ' +
            '<button type="button" onclick="cargarTablaCategorias(`'+data.repjur+'`,`'+data.JurNom+'`, `'+anio+'`, `'+mes+'`)" class="btn btn-outline-secondary js-detalle" title="Ver Por Categoría"><i class="fa fa-list"></i></button> ' +
            '<button type="button" onclick="cargarTablaConceptos(`'+data.repjur+'`,`'+data.JurNom+'`, `'+anio+'`, `'+mes+'`)" class="btn btn-outline-secondary js-detalle" title="Ver Por Conceptos"><i class="fa fa-sitemap"></i></button> ';

          }
        },

      ],
      {#order: [[1, 'asc']]#}
      footerCallback: function (row, data, start, end, display) {
        let api = this.api();


        let intVal = function (i) {
            return typeof i === 'string'
                ? i.replace(/[\$,]/g, '') * 1
                : typeof i === 'number'
                ? i
                : 0;
        };

        let formatNumber = function (i) {
        if (typeof i === 'string') {

        let cleanedNumber = i;
        cleanedNumber = cleanedNumber.replace('$', '');
        cleanedNumber = cleanedNumber.replace(/\./g, '').replace(',', '.');
        cleanedNumber = parseFloat(cleanedNumber);

        return cleanedNumber;
        } else if (typeof i === 'number') {
         return i;
        } else {
         return 0;
        }
        };

        total = api
            .column(2)
            .data()
            .reduce((a, b) => intVal(a) + intVal(b), 0);

        pageTotal = api
            .column(2, { page: 'current' })
            .data()
            .reduce((a, b) => intVal(a) + intVal(b), 0);

        api.column(2).footer().innerHTML =
            '' + pageTotal + ' <br> ( Total: ' + total + ')';

        pageTotalRemu = api
            .column(3, { page: 'current' })
            .data()
            .reduce((a, b) => formatNumber(a) + formatNumber(b), 0);

        totalRemu = api
            .column(3)
            .data()
            .reduce((a, b) => formatNumber(a) + formatNumber(b), 0);


        api.column(3).footer().innerHTML =
            '$ ' + pageTotalRemu.toLocaleString('es-ES', {minimumFractionDigits: 2}) + '<br> ( Total: $ ' + totalRemu.toLocaleString('es-ES', {minimumFractionDigits: 2}) + ')';


        pageTotalNoRemu = api
            .column(4, { page: 'current' })
            .data()
            .reduce((a, b) => formatNumber(a) + formatNumber(b), 0);

        totalNoRemu = api
            .column(4)
            .data()
            .reduce((a, b) => formatNumber(a) + formatNumber(b), 0);

        api.column(4).footer().innerHTML =
            '$ ' + pageTotalNoRemu.toLocaleString('es-ES', {minimumFractionDigits: 2}) + '<br> ( Total: $ ' + totalNoRemu.toLocaleString('es-ES', {minimumFractionDigits: 2}) + ')';


        pageTotalTotal = api
            .column(5, { page: 'current' })
            .data()
            .reduce((a, b) => formatNumber(a) + formatNumber(b), 0);

        totalTotal = api
            .column(5)
            .data()
            .reduce((a, b) => formatNumber(a) + formatNumber(b), 0);

        api.column(5).footer().innerHTML =
            '$ ' + pageTotalTotal.toLocaleString('es-ES', {minimumFractionDigits: 2}) + '<br> ( Total: $ ' + totalTotal.toLocaleString('es-ES', {minimumFractionDigits: 2}) + ')';


         pageTotalPorcentaje = api
            .column(6, { page: 'current' })
            .data()
            .reduce((a, b) => intVal(a) + intVal(b), 0);

        totalPorcentaje = api
            .column(6)
            .data()
            .reduce((a, b) => intVal(a) + intVal(b), 0);

        api.column(6).footer().innerHTML =
            pageTotalPorcentaje.toFixed(4).replace('.', ',') + ' % <br> (Total: 100 %)';



       }
    });

    $('#data_table_ajax').on('xhr.dt', function (e, settings, json, xhr) {
      swal.close();
    });


    $(".div-gral").hide();
    $(".div-tablePrincipal").show();


  }


  var tablePersonas;

  function cargarTablaPersonas(jur, jurNombre, anio, mes){

    $('#data_table_personas_ajax').dataTable().fnClearTable();
    $('#data_table_personas_ajax').dataTable().fnDestroy();

    var valores = {
      "csrfmiddlewaretoken" : '{{ csrf_token }}',
      "jur": jur,
      "jurNombre": jurNombre,
      "anio": anio,
      "mes": mes
    }
    swal({
      title: "",
      text: '<p class="text-center"><i class="fa fa-spinner fa-spin fa-3x fa-fw  mt-4"></i></p><p class="text-center mt-2 mb-4">Esta operación puede demorar, por favor aguarde mientras se carga la información.</p>',
      html: true,
      showConfirmButton:false,
      allowOutsideClick: false,
      allowEscapeKey: false
    });


    tablePersonas = $('#data_table_personas_ajax').DataTable({
      autoWidth: false,
      searching: true,
      dom: 'Bfrtip',
      buttons: [
        'csv', 'print',
      ],
      language: {
        url: "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
      },
      "ajax": {
        "url": "{% url 'table_personas_ajax' %}",
        "data": valores,
        "async": true,
        "type": "POST",
        "dataSrc": ""
      },
      "columns": [
        { "data": "pecuil" },
        { "data": "nombre" },
        { "data": "EsDes" },
        { "data": "repdes" },
        { "data": "CatDes" },
        { "data": "remunerativo" },
        { "data": "noRemunerativo" },
        { "data": "total" },
        { "data": "porcentaje", width: "10%" },

      ],

       order: [[4, 'desc']],

        footerCallback: function (row, data, start, end, display) {
        let api = this.api();


        let intVal = function (i) {
            return typeof i === 'string'
                ? i.replace(/[\$,]/g, '') * 1
                : typeof i === 'number'
                ? i
                : 0;
        };

        let formatNumber = function (i) {
        if (typeof i === 'string') {

        let cleanedNumber = i;
        cleanedNumber = cleanedNumber.replace('$', '');
        cleanedNumber = cleanedNumber.replace(/\./g, '').replace(',', '.');
        cleanedNumber = parseFloat(cleanedNumber);

        return cleanedNumber;
        } else if (typeof i === 'number') {
         return i;
        } else {
         return 0;
        }
        };


        pageTotalRemu = api
            .column(5, { page: 'current' })
            .data()
            .reduce((a, b) => formatNumber(a) + formatNumber(b), 0);

        totalRemu = api
            .column(5)
            .data()
            .reduce((a, b) => formatNumber(a) + formatNumber(b), 0);


        api.column(5).footer().innerHTML =
            '$ ' + pageTotalRemu.toLocaleString('es-ES', {minimumFractionDigits: 2}) + '<br> ( Total: $ ' + totalRemu.toLocaleString('es-ES', {minimumFractionDigits: 2}) + ')';


        pageTotalNoRemu = api
            .column(6, { page: 'current' })
            .data()
            .reduce((a, b) => formatNumber(a) + formatNumber(b), 0);

        totalNoRemu = api
            .column(6)
            .data()
            .reduce((a, b) => formatNumber(a) + formatNumber(b), 0);

        api.column(6).footer().innerHTML =
            '$ ' + pageTotalNoRemu.toLocaleString('es-ES', {minimumFractionDigits: 2}) + '<br> ( Total: $ ' + totalNoRemu.toLocaleString('es-ES', {minimumFractionDigits: 2}) + ')';


        pageTotalTotal = api
            .column(7, { page: 'current' })
            .data()
            .reduce((a, b) => formatNumber(a) + formatNumber(b), 0);

        totalTotal = api
            .column(7)
            .data()
            .reduce((a, b) => formatNumber(a) + formatNumber(b), 0);

        api.column(7).footer().innerHTML =
            '$ ' + pageTotalTotal.toLocaleString('es-ES', {minimumFractionDigits: 2}) + '<br> ( Total: $ ' + totalTotal.toLocaleString('es-ES', {minimumFractionDigits: 2}) + ')';


         pageTotalPorcentaje = api
            .column(8, { page: 'current' })
            .data()
            .reduce((a, b) => intVal(a) + intVal(b), 0);

        totalPorcentaje = api
            .column(8)
            .data()
            .reduce((a, b) => intVal(a) + intVal(b), 0);

        api.column(8).footer().innerHTML =
            pageTotalPorcentaje.toFixed(4).replace('.', ',') + ' % <br> (Total: 100 %)';


       }
    });


    $('#data_table_personas_ajax').on('xhr.dt', function (e, settings, json, xhr) {
      swal.close();
    });

    $(".div-gral").hide();
    $(".div-tablePersonas").show();

  }

  var tableCategorias;

  function cargarTablaCategorias(jur, jurNombre, anio, mes){

    $('#data_table_categorias_ajax').dataTable().fnClearTable();
    $('#data_table_categorias_ajax').dataTable().fnDestroy();

    var valores = {
      "csrfmiddlewaretoken" : '{{ csrf_token }}',
      "jur": jur,
      "jurNombre": jurNombre,
      "anio": anio,
      "mes": mes
    }

   swal({
      title: "",
      text: '<p class="text-center"><i class="fa fa-spinner fa-spin fa-3x fa-fw  mt-4"></i></p><p class="text-center mt-2 mb-4">Esta operación puede demorar, por favor aguarde mientras se carga la información.</p>',
      html: true,
      showConfirmButton:false,
      allowOutsideClick: false,
      allowEscapeKey: false
    });


    tableCategorias = $('#data_table_categorias_ajax').DataTable({
      autoWidth: false,
      searching: true,
      dom: 'Bfrtip',
      buttons: [
        'csv', 'print',
      ],
      language: {
        url: "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
      },
      "ajax": {
        "url": "{% url 'table_categorias_ajax' %}",
        "data": valores,
        "async": true,
        "type": "POST",
        "dataSrc": ""
      },
      "columns": [
        { "data": "catcod" },
        { "data": "nombre" },
        { "data": "remunerativo" },
        { "data": "noRemunerativo" },
        { "data": "total" },
        { "data": "porcentaje", width: "10%" },

      ],


      order: [[1, 'desc']],

        footerCallback: function (row, data, start, end, display) {
        let api = this.api();


        let intVal = function (i) {
            return typeof i === 'string'
                ? i.replace(/[\$,]/g, '') * 1
                : typeof i === 'number'
                ? i
                : 0;
        };

        let formatNumber = function (i) {
        if (typeof i === 'string') {

        let cleanedNumber = i;
        cleanedNumber = cleanedNumber.replace('$', '');
        cleanedNumber = cleanedNumber.replace(/\./g, '').replace(',', '.');
        cleanedNumber = parseFloat(cleanedNumber);

        return cleanedNumber;
        } else if (typeof i === 'number') {
         return i;
        } else {
         return 0;
        }
        };


        pageTotalRemu = api
            .column(2, { page: 'current' })
            .data()
            .reduce((a, b) => formatNumber(a) + formatNumber(b), 0);

        totalRemu = api
            .column(2)
            .data()
            .reduce((a, b) => formatNumber(a) + formatNumber(b), 0);


        api.column(2).footer().innerHTML =
            '$ ' + pageTotalRemu.toLocaleString('es-ES', {minimumFractionDigits: 2}) + '<br> ( Total: $ ' + totalRemu.toLocaleString('es-ES', {minimumFractionDigits: 2}) + ')';


        pageTotalNoRemu = api
            .column(3, { page: 'current' })
            .data()
            .reduce((a, b) => formatNumber(a) + formatNumber(b), 0);

        totalNoRemu = api
            .column(3)
            .data()
            .reduce((a, b) => formatNumber(a) + formatNumber(b), 0);

        api.column(3).footer().innerHTML =
            '$ ' + pageTotalNoRemu.toLocaleString('es-ES', {minimumFractionDigits: 2}) + '<br> ( Total: $ ' + totalNoRemu.toLocaleString('es-ES', {minimumFractionDigits: 2}) + ')';


        pageTotalTotal = api
            .column(4, { page: 'current' })
            .data()
            .reduce((a, b) => formatNumber(a) + formatNumber(b), 0);

        totalTotal = api
            .column(4)
            .data()
            .reduce((a, b) => formatNumber(a) + formatNumber(b), 0);

        api.column(4).footer().innerHTML =
            '$ ' + pageTotalTotal.toLocaleString('es-ES', {minimumFractionDigits: 2}) + '<br> ( Total: $ ' + totalTotal.toLocaleString('es-ES', {minimumFractionDigits: 2}) + ')';


         pageTotalPorcentaje = api
            .column(5, { page: 'current' })
            .data()
            .reduce((a, b) => intVal(a) + intVal(b), 0);

        totalPorcentaje = api
            .column(5)
            .data()
            .reduce((a, b) => intVal(a) + intVal(b), 0);

        api.column(5).footer().innerHTML =
            pageTotalPorcentaje.toFixed(4).replace('.', ',') + ' % <br> (Total: 100 %)';


       }

    });


    $('#data_table_categorias_ajax').on('xhr.dt', function (e, settings, json, xhr) {
      swal.close();
    });

    $(".div-gral").hide();
    $(".div-tableCategorias").show();

  }

  var tableConceptos;

  function cargarTablaConceptos(jur, jurNombre, anio, mes){

    $('#data_table_conceptos_ajax').dataTable().fnClearTable();
    $('#data_table_conceptos_ajax').dataTable().fnDestroy();

    var valores = {
      "csrfmiddlewaretoken" : '{{ csrf_token }}',
      "jur": jur,
      "jurNombre": jurNombre,
      "anio": anio,
      "mes": mes
    }

   swal({
      title: "",
      text: '<p class="text-center"><i class="fa fa-spinner fa-spin fa-3x fa-fw  mt-4"></i></p><p class="text-center mt-2 mb-4">Esta operación puede demorar, por favor aguarde mientras se carga la información.</p>',
      html: true,
      showConfirmButton:false,
      allowOutsideClick: false,
      allowEscapeKey: false
    });


    tableConceptos = $('#data_table_conceptos_ajax').DataTable({
      autoWidth: false,
      searching: true,
      dom: 'Bfrtip',
      buttons: [
        'csv', 'print',
      ],
      language: {
        url: "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
      },
      "ajax": {
        "url": "{% url 'table_conceptos_ajax' %}",
        "data": valores,
        "async": true,
        "type": "POST",
        "dataSrc": ""
      },
      "columns": [
        { "data": "cncod" },
        { "data": "nombre" },
        { "data": "remunerativo" },
        { "data": "noRemunerativo" },
        { "data": "total" },
        { "data": "porcentaje" },

      ],


      order: [[1, 'desc']],
       footerCallback: function (row, data, start, end, display) {
        let api = this.api();


        let intVal = function (i) {
            return typeof i === 'string'
                ? i.replace(/[\$,]/g, '') * 1
                : typeof i === 'number'
                ? i
                : 0;
        };

        let formatNumber = function (i) {
        if (typeof i === 'string') {

        let cleanedNumber = i;
        cleanedNumber = cleanedNumber.replace('$', '');
        cleanedNumber = cleanedNumber.replace(/\./g, '').replace(',', '.');
        cleanedNumber = parseFloat(cleanedNumber);

        return cleanedNumber;
        } else if (typeof i === 'number') {
         return i;
        } else {
         return 0;
        }
        };


        pageTotalRemu = api
            .column(2, { page: 'current' })
            .data()
            .reduce((a, b) => formatNumber(a) + formatNumber(b), 0);

        totalRemu = api
            .column(2)
            .data()
            .reduce((a, b) => formatNumber(a) + formatNumber(b), 0);


        api.column(2).footer().innerHTML =
            '$ ' + pageTotalRemu.toLocaleString('es-ES', {minimumFractionDigits: 2}) + '<br> ( Total: $ ' + totalRemu.toLocaleString('es-ES', {minimumFractionDigits: 2}) + ')';


        pageTotalNoRemu = api
            .column(3, { page: 'current' })
            .data()
            .reduce((a, b) => formatNumber(a) + formatNumber(b), 0);

        totalNoRemu = api
            .column(3)
            .data()
            .reduce((a, b) => formatNumber(a) + formatNumber(b), 0);

        api.column(3).footer().innerHTML =
            '$ ' + pageTotalNoRemu.toLocaleString('es-ES', {minimumFractionDigits: 2}) + '<br> ( Total: $ ' + totalNoRemu.toLocaleString('es-ES', {minimumFractionDigits: 2}) + ')';


        pageTotalTotal = api
            .column(4, { page: 'current' })
            .data()
            .reduce((a, b) => formatNumber(a) + formatNumber(b), 0);

        totalTotal = api
            .column(4)
            .data()
            .reduce((a, b) => formatNumber(a) + formatNumber(b), 0);

        api.column(4).footer().innerHTML =
            '$ ' + pageTotalTotal.toLocaleString('es-ES', {minimumFractionDigits: 2}) + '<br> ( Total: $ ' + totalTotal.toLocaleString('es-ES', {minimumFractionDigits: 2}) + ')';


         pageTotalPorcentaje = api
            .column(5, { page: 'current' })
            .data()
            .reduce((a, b) => intVal(a) + intVal(b), 0);

        totalPorcentaje = api
            .column(5)
            .data()
            .reduce((a, b) => intVal(a) + intVal(b), 0);

        api.column(5).footer().innerHTML =
            pageTotalPorcentaje.toFixed(4).replace('.', ',') + ' % <br> (Total: 100 %)';


       }


    });


    $('#data_table_conceptos_ajax').on('xhr.dt', function (e, settings, json, xhr) {
      swal.close();
    });

    $(".div-gral").hide();
    $(".div-tableConceptos").show();

  }



  /******************************************************************************************/
  /*************************** FUNCION PARA LA CARGA DE PAGINA ******************************/
  /******************************************************************************************/

  $(document).ready(function(){

    var mes = parseInt({% now "m" %})

    if (mes == 1){

      var anio =  parseInt({% now "Y" %}) - 1;
      $("#anio_ajax").val(anio);
      $("#mes_ajax").val('12');

    }else{

      $("#mes_ajax").val(mes - 1);

    }

    cargarTabla();
  });

  /******************************************************************************************/
  /******************************************************************************************/
  /******************************************************************************************/

  /******************************************************************************************/
  /*********************** FUNCION PARA EL BOTON BUSCAR CON FILTRO **************************/
  /******************************************************************************************/

  $("#btnBuscar").click(function(){
    cargarTabla();
  });

  $("#anio_ajax").change(function(){

    if(this.value == ''){

      this.value = "{% now "Y" %}";

    }
  });

  function volverAlTablero(){

    $(".div-gral").hide();
    $(".div-tablePrincipal").show();

  }

  </script>
  {% endblock %}