{% extends "base.html" %}
{% block extraCss %}
{% endblock %}
{% block main %}
{% load static %}
<div id="main-content" class="profilepage_2 blog-page">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row g-3">
        <div class="col-lg-5 col-md-8 col-sm-12">
          <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>
            {{ titulo }}</h2>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{ index }}"><i class="icon-home"></i></a></li>
              <li class="breadcrumb-item active">{{ titulo }}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row clearfix">
       <div class="col-lg-12 col-md-12">

        <div class="card">
          <div class="card-body">
            {% load static %}
            <div class="row">
                 <div class="table-responsive col-lg-12">
              <table id="data_table_ajax" class="table table-bordered table-striped table-hover small">
                <thead>
                  <tr>
                    <th width="25%">Udeo</th>
                    <th width="15%">Cantidad de Personas</th>
                    <th width="15%">Remunerativo</th>
                    <th width="15%">No Remunerativo</th>
                    <th width="20%">Total</th>
                    <th width="10%" align="center">%</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>

            <!-- --------------------------------------------------------------------------------- -->
            <!-- --------------------------------------------------------------------------------- -->
            <!-- --------------------------------------------------------------------------------- -->
            </div>

          </div>
        </div>
      </div>
      </div>

    </div>
  </div>


  <!-- --------------------------------------------------------------------------------- -->
  <!-- --------------------------------------------------------------------------------- -->
  <!-- --------------------------------------------------------------------------------- -->


  {% endblock %}
  {% block extraJS %}
  <script>

  </script>
  {% endblock %}